body {
    font-family: 'Oxygen', sans-serif;
}
.navbar ul > li > a {
    text-align: center;
    font-weight: bold;
}
.navbar-default .navbar-nav > li:nth-child(1),
.navbar-default .navbar-nav > li:nth-child(2) {
    border-bottom: 1px solid white;
}
#header-nav {
    background-color: #505050;
    font-weight: bold;
    border-radius: 0;
    border: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: #FFF5C3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #FF7260;
}
.main-content {
    background-color: #9BD7D5;
    height: 100%;
    border-radius: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF5C3;
}
.navbar-default .navbar-toggle {
    border-color: #FFF5C3;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FF7260;
}
p {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #505050;
}
@media (max-width: 767px) {
    .main-content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}